In [1]:
import pandas as pd 
import os
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np 
import plotly
import plotly.graph_objects as go

from sklearn.linear_model import LogisticRegressionCV
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import confusion_matrix

In [2]:
root_dir = "/content/drive/My Drive"
from google.colab import drive
drive.mount('/content/drive')
project_folder = "/Colab Notebooks/"
os.chdir(root_dir + project_folder)

Mounted at /content/drive

In [3]:
adidasData=pd.read_csv('Adidas Prepared Data.csv')
nikeData=pd.read_csv('nike_2020_04_13.csv')
nike_adidas_data=pd.read_csv('Adidas Vs Nike.csv')

In [4]:
nikeData.head()

,URL,Product Name,Product ID,Listing Price,Sale Price,Discount,Brand,Description,Rating,Reviews,Images,Last Visited
0,https://www.nike.com/in/t/air-force-1-07-essen...,Nike Air Force 1 '07 Essential,CJ1646-600,0,7495,0,Nike,Let your shoe game shimmer in the Nike Air For...,0.0,0,"[""https://static.nike.com/a/images/t_PDP_1728_...",2020-04-13T15:27:56
1,https://www.nike.com/in/t/air-force-1-07-shoe-...,Nike Air Force 1 '07,CT4328-101,0,7495,0,Nike,The legend lives on in the Nike Air Force 1 '0...,0.0,0,"[""https://static.nike.com/a/images/t_PDP_1728_...",2020-04-13T15:27:56
2,https://www.nike.com/in/t/air-force-1-sage-low...,Nike Air Force 1 Sage Low LX,CI3482-200,0,9995,0,Nike,"Taking both height and craft to new levels, th...",0.0,0,"[""https://static.nike.com/a/images/t_PDP_1728_...",2020-04-13T15:27:56
3,https://www.nike.com/in/t/air-max-dia-se-shoe-...,Nike Air Max Dia SE,CD0479-200,0,9995,0,Nike,"Designed for a woman's foot, the Nike Air Max ...",0.0,0,"[""https://static.nike.com/a/images/t_PDP_1728_...",2020-04-13T15:27:57
4,https://www.nike.com/in/t/air-max-verona-shoe-...,Nike Air Max Verona,CZ6156-101,0,9995,0,Nike,Pass on the good vibes in the Nike Air Max Ver...,0.0,0,"[""https://static.nike.com/a/images/t_PDP_1728_...",2020-04-13T15:27:57

In [5]:
adidasData.head()

,URL,Product Name,Product ID,Listing Price,Sale Price,Discount,Brand,Description,Rating,Reviews,Images,Last Visited
0,https://shop.adidas.co.in/#!product/AH2430_nmd...,Women's adidas Originals NMD_Racer Primeknit S...,AH2430,14999,7499,50.0,ORIGINALS,Channeling the streamlined look of an '80s rac...,0.0,0.0,"[""https://content.adidas.co.in/static/Product-...",2020-04-13T15:06:14
1,https://shop.adidas.co.in/#!product/G27341_adi...,Women's adidas Originals Sleek Shoes,G27341,7599,3799,50.0,ORIGINALS,A modern take on adidas sport heritage tailore...,0.0,0.0,"[""https://content.adidas.co.in/static/Product-...",2020-04-13T15:06:15
2,https://shop.adidas.co.in/#!product/CM0081_pukaws,Women's adidas Swim Puka Slippers,CM0081,999,599,40.0,CORE / NEO,These adidas Puka slippers for women's come wi...,0.0,0.0,"[""https://content.adidas.co.in/static/Product-...",2020-04-13T15:06:15
3,https://shop.adidas.co.in/#!product/B44832_que...,Women's adidas Sport Inspired Questar Ride Shoes,B44832,6999,3499,50.0,CORE / NEO,Inspired by modern tech runners these women's ...,0.0,0.0,"[""https://content.adidas.co.in/static/Product-...",2020-04-13T15:06:15
4,https://shop.adidas.co.in/#!product/D98205_tae...,Women's adidas Originals Taekwondo Shoes,D98205,7999,3999,50.0,ORIGINALS,This design is inspired by vintage Taekwondo s...,0.0,0.0,"[""https://content.adidas.co.in/static/Product-...",2020-04-13T15:06:15

In [6]:
nike_adidas_data.head()

,Product Name,Product ID,Listing Price,Sale Price,Discount,Brand,Description,Rating,Reviews,Last Visited
0,Women's adidas Originals NMD_Racer Primeknit S...,AH2430,14999,7499,50,Adidas Adidas ORIGINALS,Channeling the streamlined look of an '80s rac...,4.8,41,2020-04-13T15:06:14
1,Women's adidas Originals Sleek Shoes,G27341,7599,3799,50,Adidas ORIGINALS,"A modern take on adidas sport heritage, tailor...",3.3,24,2020-04-13T15:06:15
2,Women's adidas Swim Puka Slippers,CM0081,999,599,40,Adidas CORE / NEO,These adidas Puka slippers for women's come wi...,2.6,37,2020-04-13T15:06:15
3,Women's adidas Sport Inspired Questar Ride Shoes,B44832,6999,3499,50,Adidas CORE / NEO,"Inspired by modern tech runners, these women's...",4.1,35,2020-04-13T15:06:15
4,Women's adidas Originals Taekwondo Shoes,D98205,7999,3999,50,Adidas ORIGINALS,This design is inspired by vintage Taekwondo s...,3.5,72,2020-04-13T15:06:15

In [7]:
# dropping unwanted columns
nikeData = nikeData.drop(['URL', 'Product ID', 'Images','Last Visited'], axis=1)
nikeData.head()

,Product Name,Listing Price,Sale Price,Discount,Brand,Description,Rating,Reviews
0,Nike Air Force 1 '07 Essential,0,7495,0,Nike,Let your shoe game shimmer in the Nike Air For...,0.0,0
1,Nike Air Force 1 '07,0,7495,0,Nike,The legend lives on in the Nike Air Force 1 '0...,0.0,0
2,Nike Air Force 1 Sage Low LX,0,9995,0,Nike,"Taking both height and craft to new levels, th...",0.0,0
3,Nike Air Max Dia SE,0,9995,0,Nike,"Designed for a woman's foot, the Nike Air Max ...",0.0,0
4,Nike Air Max Verona,0,9995,0,Nike,Pass on the good vibes in the Nike Air Max Ver...,0.0,0

In [8]:
# drop the 'City' and 'Country' columns
adidasData = adidasData.drop(['URL', 'Product ID', 'Images', 'Last Visited'], axis=1)
adidasData.head()

,Product Name,Listing Price,Sale Price,Discount,Brand,Description,Rating,Reviews
0,Women's adidas Originals NMD_Racer Primeknit S...,14999,7499,50.0,ORIGINALS,Channeling the streamlined look of an '80s rac...,0.0,0.0
1,Women's adidas Originals Sleek Shoes,7599,3799,50.0,ORIGINALS,A modern take on adidas sport heritage tailore...,0.0,0.0
2,Women's adidas Swim Puka Slippers,999,599,40.0,CORE / NEO,These adidas Puka slippers for women's come wi...,0.0,0.0
3,Women's adidas Sport Inspired Questar Ride Shoes,6999,3499,50.0,CORE / NEO,Inspired by modern tech runners these women's ...,0.0,0.0
4,Women's adidas Originals Taekwondo Shoes,7999,3999,50.0,ORIGINALS,This design is inspired by vintage Taekwondo s...,0.0,0.0

In [9]:
# drop the 'City' and 'Country' columns
nike_adidas_data = nike_adidas_data.drop(['Product ID','Last Visited'], axis=1)
nike_adidas_data.head()

,Product Name,Listing Price,Sale Price,Discount,Brand,Description,Rating,Reviews
0,Women's adidas Originals NMD_Racer Primeknit S...,14999,7499,50,Adidas Adidas ORIGINALS,Channeling the streamlined look of an '80s rac...,4.8,41
1,Women's adidas Originals Sleek Shoes,7599,3799,50,Adidas ORIGINALS,"A modern take on adidas sport heritage, tailor...",3.3,24
2,Women's adidas Swim Puka Slippers,999,599,40,Adidas CORE / NEO,These adidas Puka slippers for women's come wi...,2.6,37
3,Women's adidas Sport Inspired Questar Ride Shoes,6999,3499,50,Adidas CORE / NEO,"Inspired by modern tech runners, these women's...",4.1,35
4,Women's adidas Originals Taekwondo Shoes,7999,3999,50,Adidas ORIGINALS,This design is inspired by vintage Taekwondo s...,3.5,72

Trusting the credibility of data we are proceeding further.

In [10]:
data1=nikeData
data2=adidasData
data3=nike_adidas_data

In [11]:
# fill null values with 0
data1.fillna(0, inplace=True)

In [12]:
# count the number of null values in the dataframe
num_null_values = data1.isnull().sum().sum()

# print the number of null values
print(num_null_values)

0

In [13]:
# check if any column has non-numeric values
has_numeric = data1.applymap(lambda x: str(x).isnumeric()).any()

# print the result
print(has_numeric)

Product Name     False
Listing Price     True
Sale Price        True
Discount          True
Brand            False
Description       True
Rating           False
Reviews           True
dtype: bool

In [14]:
print(data1["Description"].isna().sum())

0

In [15]:
data1 = data1.dropna(subset=["Description"])

In [16]:
!pip install --upgrade scikit-learn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.22.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.1.0)

In [17]:
data1['Description'] = data1['Description'].astype(str)
data2['Description'] = data2['Description'].astype(str)
data3['Description'] = data3['Description'].astype(str)

In [18]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

df = data1
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df['Description'], df['Rating'], test_size=0.2, random_state=42)

# Convert integers to strings
X_train = X_train.astype(str)
X_test = X_test.astype(str)

# Extract features from the product descriptions using CountVectorizer
vectorizer = CountVectorizer(stop_words='english')
X_train = vectorizer.fit_transform(X_train)
X_test = vectorizer.transform(X_test)

# Train a linear regression model to predict the rating based on the description
model = LinearRegression()
model.fit(X_train, y_train)

# Evaluate the model on the test set
score = model.score(X_test, y_test)
print('Model accuracy:', score)

# Analyze the coefficients
coefficients = pd.DataFrame({
    "Word": vectorizer.get_feature_names_out(),
    "Coefficient": model.coef_
})

# sort coefficients by absolute value in descending order
coefficients = coefficients.reindex(coefficients["Coefficient"].abs().sort_values(ascending=False).index)

# print top 10 coefficients
print(coefficients.head(10))

Model accuracy: -0.4188546117616432
             Word  Coefficient
885        inside     5.722212
225          boot     4.896196
457        degree     4.638236
118           amp     4.500601
812   herringbone    -4.233806
1846         turf     3.672865
1041           lx    -3.461098
1176     offering     3.024599
1256           pf     2.999983
1605         sole    -2.937387

In [19]:
data1['Description'].dtype

dtype('O')

In [20]:
from sklearn.linear_model import LinearRegression
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd


# define stop words
stop_words = ["a", "an", "the", "and", "or", "but"]

# fit vectorizer to data
vectorizer = CountVectorizer(stop_words=stop_words)
data1['Description'] = data1['Description'].astype(str)
vectorizer.fit(data1["Description"])

# transform descriptions into features
X = vectorizer.transform(data1["Description"])

# fit linear regression model
model = LinearRegression()
model.fit(X, data1["Rating"])

# Analyze the coefficients
coefficients = pd.DataFrame({
    "Word": vectorizer.get_feature_names_out(),
    "Coefficient": model.coef_
})

# sort coefficients by absolute value in descending order
coefficients = coefficients.reindex(coefficients["Coefficient"].abs().sort_values(ascending=False).index)

# print top 10 coefficients
print(coefficients.head(10))

             Word  Coefficient
1033       inside     5.471929
273          boot     4.957323
534        degree     4.568155
139           amp     4.300925
2164         turf     4.137840
949   herringbone    -3.665418
1213           lx    -3.469355
1872         sole    -3.070983
1479           pf     3.000162
190            aw    -2.799836

using a CountVectorizer to transform the text into numerical features, and trains a linear regression model to predict the rating based on the text features. Finally, the code prints the top 10 words in the product description that are most strongly associated with a high rating, based on the coefficients learned by the model. Note that this is just an example and may need to be modified to fit your specific data and problem.

In [21]:
coefficients

           Word  Coefficient
1033     inside     5.471929
273        boot     4.957323
534      degree     4.568155
139         amp     4.300925
2164       turf     4.137840
...         ...          ...
1685  revamping    -0.000366
927       havoc    -0.000366
1326   mudguard    -0.000366
2206     update    -0.000366
2365        you    -0.000023

[2380 rows x 2 columns]

In [22]:
import nltk

nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [23]:
import nltk

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [24]:
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from collections import Counter

# Load the dataset into a pandas DataFrame
df = data1

# Define a function to preprocess the description column
def preprocess_text(text):
    # Remove punctuation and lowercase the text
    text = re.sub(r'[^\w\s]', '', text).lower()
    # Tokenize the text
    tokens = word_tokenize(text)
    # Remove stop words
    stop_words = set(stopwords.words('english'))
    tokens = [token for token in tokens if token not in stop_words]
    # Return the preprocessed text
    return tokens

# Apply the preprocess_text function to the description column
df['preprocessed_description'] = df['Description'].apply(preprocess_text)

# Flatten the preprocessed_description column
all_words = [word for description in df['preprocessed_description'] for word in description]

# Calculate the frequency distribution of the words
word_freq = Counter(all_words)

# Define a list of words to exclude
exclude_words = set(stopwords.words('english')) | set(['product', 'features', 'use'])

# Extract the most common words, excluding stop words and exclude_words
most_common_words = [word for word in word_freq.most_common(50) if word[0] not in exclude_words]

# Print the most common words
print(most_common_words)

[('nike', 663), ('air', 479), ('max', 230), ('upper', 196), ('cushioning', 177), ('comfort', 154), ('look', 127), ('shoe', 126), ('design', 123), ('traction', 120), ('foam', 110), ('zoom', 106), ('react', 104), ('lightweight', 94), ('fit', 88), ('style', 86), ('foot', 86), ('new', 77), ('unit', 77), ('soft', 77), ('running', 76), ('inspired', 75), ('provides', 75), ('classic', 70), ('outsole', 68), ('iconic', 64), ('midsole', 64), ('jordan', 61), ('mercurial', 60), ('designed', 59), ('heel', 59), ('leather', 58), ('feel', 58), ('details', 57), ('synthetic', 56), ('adds', 54), ('1', 52), ('flyknit', 52), ('rubber', 52), ('responsive', 51), ('combines', 50), ('support', 48), ('mesh', 48), ('academy', 48), ('premium', 47), ('modern', 47), ('delivers', 47), ('speed', 47), ('underfoot', 47)]

In [25]:
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from collections import Counter
from sklearn.feature_extraction.text import CountVectorizer

# Load the dataset into a pandas DataFrame
df = data1

# Filter the dataset by high ratings
df = df[df['Rating'] > 3.5]

# Define a function to preprocess the description column
def preprocess_text(text):
    # Remove punctuation and lowercase the text
    text = re.sub(r'[^\w\s]', '', text).lower()
    # Tokenize the text
    tokens = word_tokenize(text)
    # Remove stop words
    stop_words = set(stopwords.words('english'))
    tokens = [token for token in tokens if token not in stop_words]
    # Join the tokens back into a string
    text = ' '.join(tokens)
    # Return the preprocessed text
    return text



# Apply the preprocess_text function to the description column
df['preprocessed_description'] = df['Description'].apply(preprocess_text)

# Extract features from the preprocessed_description column using CountVectorizer
vectorizer = CountVectorizer(stop_words='english')
X = vectorizer.fit_transform(df['preprocessed_description'])

<ipython-input-25-8272bdbcc869>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['preprocessed_description'] = df['Description'].apply(preprocess_text)

In [26]:
df=data1
high_rating_df = df[df['Rating'] > 4]

In [27]:
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from collections import Counter

# Load the dataset into a pandas DataFrame
df = high_rating_df

# Define a function to preprocess the description column
def preprocess_text(text):
    # Remove punctuation and lowercase the text
    text = re.sub(r'[^\w\s]', '', text).lower()
    # Tokenize the text
    tokens = word_tokenize(text)
    # Remove stop words
    stop_words = set(stopwords.words('english'))
    tokens = [token for token in tokens if token not in stop_words]
    # Return the preprocessed text
    return tokens

# Apply the preprocess_text function to the description column
df['preprocessed_description'] = df['Description'].apply(preprocess_text)

# Flatten the preprocessed_description column
all_words = [word for description in df['preprocessed_description'] for word in description]

# Calculate the frequency distribution of the words
word_freq = Counter(all_words)

# Define a list of words to exclude
exclude_words = set(stopwords.words('english')) | set(['product', 'features', 'use'])

# Extract the most common words, excluding stop words and exclude_words
most_common_words = [word for word in word_freq.most_common(50) if word[0] not in exclude_words]

# Print the most common words
print(most_common_words)

[('nike', 275), ('air', 221), ('max', 90), ('comfort', 75), ('cushioning', 75), ('shoe', 70), ('upper', 69), ('look', 68), ('design', 60), ('react', 52), ('zoom', 52), ('lightweight', 47), ('foam', 44), ('classic', 40), ('running', 40), ('style', 39), ('jordan', 37), ('new', 34), ('iconic', 33), ('inspired', 32), ('details', 31), ('1', 30), ('responsive', 30), ('feel', 30), ('fit', 30), ('unit', 29), ('traction', 29), ('midsole', 28), ('designed', 28), ('combines', 26), ('soft', 26), ('heel', 25), ('leather', 25), ('bold', 24), ('force', 23), ('flyknit', 23), ('lines', 22), ('fresh', 22), ('outsole', 22), ('underfoot', 22), ('original', 22), ('delivers', 22), ('built', 20), ('game', 20), ('og', 19), ('foot', 19), ('modern', 19), ('run', 19), ('technology', 18)]

<ipython-input-27-83e36d90d7dd>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['preprocessed_description'] = df['Description'].apply(preprocess_text)

In [ ]:
#for adidas

In [28]:
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from collections import Counter

# Load the dataset into a pandas DataFrame
df = data2
data2['Description'] = data2['Description'].astype(str)

# Define a function to preprocess the description column
def preprocess_text(text):
    # Remove punctuation and lowercase the text
    text = re.sub(r'[^\w\s]', '', text).lower()
    # Tokenize the text
    tokens = word_tokenize(text)
    # Remove stop words
    stop_words = set(stopwords.words('english'))
    tokens = [token for token in tokens if token not in stop_words]
    # Return the preprocessed text
    return tokens

# Apply the preprocess_text function to the description column
df['preprocessed_description'] = df['Description'].apply(preprocess_text)

# Flatten the preprocessed_description column
all_words = [word for description in df['preprocessed_description'] for word in description]

# Calculate the frequency distribution of the words
word_freq = Counter(all_words)

# Define a list of words to exclude
exclude_words = set(stopwords.words('english')) | set(['product', 'features', 'use'])

# Extract the most common words, excluding stop words and exclude_words
most_common_words = [word for word in word_freq.most_common(50) if word[0] not in exclude_words]

# Print the most common words
print(most_common_words)

[('shoes', 2406), ('upper', 1929), ('cushioning', 1033), ('comfort', 1023), ('outsole', 1001), ('midsole', 973), ('adidas', 957), ('mesh', 917), ('running', 804), ('rubber', 778), ('style', 751), ('lightweight', 709), ('look', 677), ('provides', 574), ('design', 516), ('3stripes', 503), ('eva', 464), ('feel', 440), ('leather', 437), ('support', 421), ('soft', 400), ('men', 396), ('comfortable', 392), ('every', 367), ('synthetic', 366), ('durable', 356), ('feature', 353), ('durability', 348), ('fit', 347), ('breathable', 343), ('made', 319), ('modern', 314), ('heel', 313), ('classic', 304), ('cloudfoam', 295), ('suede', 273), ('feet', 273), ('foot', 269), ('knit', 268), ('sleek', 265), ('step', 257), ('responsive', 256), ('keep', 250), ('mens', 247), ('stability', 245), ('textile', 240), ('give', 239), ('runninginspired', 232), ('offers', 223), ('overlays', 217)]

In [31]:
nike_adidas_data.head()

,Product Name,Listing Price,Sale Price,Discount,Brand,Description,Rating,Reviews
0,Women's adidas Originals NMD_Racer Primeknit S...,14999,7499,50,Adidas Adidas ORIGINALS,Channeling the streamlined look of an '80s rac...,4.8,41
1,Women's adidas Originals Sleek Shoes,7599,3799,50,Adidas ORIGINALS,"A modern take on adidas sport heritage, tailor...",3.3,24
2,Women's adidas Swim Puka Slippers,999,599,40,Adidas CORE / NEO,These adidas Puka slippers for women's come wi...,2.6,37
3,Women's adidas Sport Inspired Questar Ride Shoes,6999,3499,50,Adidas CORE / NEO,"Inspired by modern tech runners, these women's...",4.1,35
4,Women's adidas Originals Taekwondo Shoes,7999,3999,50,Adidas ORIGINALS,This design is inspired by vintage Taekwondo s...,3.5,72

In [29]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.feature_extraction.text import CountVectorizer

# Load the data
df = data3

# Preprocess text data
stop_words = 'english'
vectorizer = CountVectorizer(stop_words=stop_words)
X_text = vectorizer.fit_transform(df['Description'])

# Prepare input features
X_num = df[['Listing Price', 'Sale Price', 'Discount', 'Reviews']]

# Concatenate text and numerical features
X = pd.concat([pd.DataFrame(X_text.toarray()), X_num], axis=1)

# Prepare target variable
y = df['Rating']
X.columns = X.columns.astype(str)
# Train a linear regression model
model = LinearRegression()
model.fit(X, y)

# Predict the ratings for the input data
y_pred = model.predict(X)

# Calculate R^2 score to evaluate the model performance
r2 = r2_score(y, y_pred)

# Print the R^2 score and the coefficients of the model
print(f'R^2 score: {r2:.2f}')
print('Coefficients:')
#for feature, coef in zip(X.columns, model.coef_):
    #print(f'{feature}: {coef:.2f}')

R^2 score: 0.69
Coefficients:

In [30]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.feature_extraction.text import CountVectorizer

df=data3
# Define the predictor variables (features) and the target variable (label)
X = df[['Listing Price']]
y = df['Rating']

# Convert the text descriptions into features using CountVectorizer
vectorizer = CountVectorizer(stop_words='english')
X_desc = vectorizer.fit_transform(df['Description'])

# Combine the numerical features with the text features
X = pd.concat([pd.DataFrame(X_desc.toarray()), X.reset_index(drop=True)], axis=1)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train.columns = X_train.columns.astype(str)
X_test.columns = X_test.columns.astype(str)

# Fit a linear regression model to the training data
model = LinearRegression()
model.fit(X_train, y_train)

# Predict the sale prices of the test data using the trained model
y_pred = model.predict(X_test)

# Calculate the R^2 value of the model on the test data
r2 = r2_score(y_test, y_pred)
print("R^2 Score:", r2)

R^2 Score: -196068363633799.22

In [32]:
import pandas as pd

df=data3
# Calculate the Pearson correlation coefficient between each feature and the target variable
corr_matrix = df.corr(method='pearson')
corr_with_rating = corr_matrix['Rating']

# Print the correlation coefficients in descending order
print(corr_with_rating.sort_values(ascending=False))

Rating           1.000000
Reviews          0.140577
Listing Price    0.099764
Discount         0.081510
Sale Price      -0.042172
Name: Rating, dtype: float64

<ipython-input-32-97e81679595b>:5: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_matrix = df.corr(method='pearson')

In [33]:
from scipy.stats import pearsonr

corr, p_value = pearsonr(df['Rating'], df['Reviews'])
print("Correlation coefficient:", corr)
print("p-value:", p_value)

Correlation coefficient: 0.1405769699032291
p-value: 6.840770755950782e-16

In [34]:
corr, p_value = pearsonr(df['Rating'], df['Listing Price'])
print("Correlation coefficient:", corr)
print("p-value:", p_value)

Correlation coefficient: 0.0997638170445324
p-value: 1.0956133104953386e-08

In [35]:
corr, p_value = pearsonr(df['Rating'], df['Discount'])
print("Correlation coefficient:", corr)
print("p-value:", p_value)
print('{:.12f}'.format(p_value))

Correlation coefficient: 0.08150974869473983
p-value: 3.0771349670407584e-06
0.000003077135

In [36]:
corr, p_value = pearsonr(df['Reviews'], df['Sale Price'])
print("Correlation coefficient:", corr)
print("p-value:", p_value)
print('{:.12f}'.format(p_value))

Correlation coefficient: -0.24072787421989256
p-value: 2.6550525689321175e-44
0.000000000000

In [37]:
corr, p_value = pearsonr(df['Reviews'], df['Discount'])
print("Correlation coefficient:", corr)
print("p-value:", p_value)
print('{:.12f}'.format(p_value))

Correlation coefficient: 0.31359143356700203
p-value: 1.7082347347250004e-75
0.000000000000

In [38]:
df=data3

# Separate data based on brand
nike_data = df[df['Brand'] == 'Nike']
other_data = df[df['Brand'] != 'Nike']

In [39]:
nike_data.head()

,Product Name,Listing Price,Sale Price,Discount,Brand,Description,Rating,Reviews
2625,Nike Air Force 1 '07 Essential,0,7495,0,Nike,Let your shoe game shimmer in the Nike Air For...,0.0,0
2626,Nike Air Force 1 '07,0,7495,0,Nike,The legend lives on in the Nike Air Force 1 '0...,0.0,0
2627,Nike Air Force 1 Sage Low LX,0,9995,0,Nike,"Taking both height and craft to new levels, th...",0.0,0
2628,Nike Air Max Dia SE,0,9995,0,Nike,"Designed for a woman's foot, the Nike Air Max ...",0.0,0
2629,Nike Air Max Verona,0,9995,0,Nike,Pass on the good vibes in the Nike Air Max Ver...,0.0,0

In [40]:
other_data

,Product Name,Listing Price,Sale Price,Discount,Brand,Description,Rating,Reviews
0,Women's adidas Originals NMD_Racer Primeknit S...,14999,7499,50,Adidas Adidas ORIGINALS,Channeling the streamlined look of an '80s rac...,4.8,41
1,Women's adidas Originals Sleek Shoes,7599,3799,50,Adidas ORIGINALS,"A modern take on adidas sport heritage, tailor...",3.3,24
2,Women's adidas Swim Puka Slippers,999,599,40,Adidas CORE / NEO,These adidas Puka slippers for women's come wi...,2.6,37
3,Women's adidas Sport Inspired Questar Ride Shoes,6999,3499,50,Adidas CORE / NEO,"Inspired by modern tech runners, these women's...",4.1,35
4,Women's adidas Originals Taekwondo Shoes,7999,3999,50,Adidas ORIGINALS,This design is inspired by vintage Taekwondo s...,3.5,72
...,...,...,...,...,...,...,...,...
2620,Men's adidas Adipower Vector 20 Shoes,10999,10999,0,Adidas SPORT PERFORMANCE,It's just you and the batsman. As you steam to...,4.9,47
2621,Men's adidas Cricket Howzat Shoes,6999,6999,0,Adidas SPORT PERFORMANCE,"Batting, fielding or bowling, these Howzat Spi...",4.4,30
2622,Men's Cricket Cri Hase Shoes,3999,3999,0,Adidas SPORT PERFORMANCE,Thiese shoes are a great choice for the amatue...,2.0,87
2623,Unisex adidas Outdoor Terrex Daroga Water Shoes,7999,7999,0,Adidas SPORT PERFORMANCE,These shoes fit easily into a travel bag so yo...,4.6,6
2624,Men's adidas Basketball Harden Vol. 4 Shoes,14999,14999,0,Adidas SPORT PERFORMANCE,These basketball shoes are designed specifical...,4.4,89

In [41]:
df = other_data.drop_duplicates()
df

,Product Name,Listing Price,Sale Price,Discount,Brand,Description,Rating,Reviews
0,Women's adidas Originals NMD_Racer Primeknit S...,14999,7499,50,Adidas Adidas ORIGINALS,Channeling the streamlined look of an '80s rac...,4.8,41
1,Women's adidas Originals Sleek Shoes,7599,3799,50,Adidas ORIGINALS,"A modern take on adidas sport heritage, tailor...",3.3,24
2,Women's adidas Swim Puka Slippers,999,599,40,Adidas CORE / NEO,These adidas Puka slippers for women's come wi...,2.6,37
3,Women's adidas Sport Inspired Questar Ride Shoes,6999,3499,50,Adidas CORE / NEO,"Inspired by modern tech runners, these women's...",4.1,35
4,Women's adidas Originals Taekwondo Shoes,7999,3999,50,Adidas ORIGINALS,This design is inspired by vintage Taekwondo s...,3.5,72
...,...,...,...,...,...,...,...,...
2620,Men's adidas Adipower Vector 20 Shoes,10999,10999,0,Adidas SPORT PERFORMANCE,It's just you and the batsman. As you steam to...,4.9,47
2621,Men's adidas Cricket Howzat Shoes,6999,6999,0,Adidas SPORT PERFORMANCE,"Batting, fielding or bowling, these Howzat Spi...",4.4,30
2622,Men's Cricket Cri Hase Shoes,3999,3999,0,Adidas SPORT PERFORMANCE,Thiese shoes are a great choice for the amatue...,2.0,87
2623,Unisex adidas Outdoor Terrex Daroga Water Shoes,7999,7999,0,Adidas SPORT PERFORMANCE,These shoes fit easily into a travel bag so yo...,4.6,6
2624,Men's adidas Basketball Harden Vol. 4 Shoes,14999,14999,0,Adidas SPORT PERFORMANCE,These basketball shoes are designed specifical...,4.4,89

In [42]:
df=other_data
# Drop duplicates based on all columns except Rating, Reviews, and Description
other_data = df.drop_duplicates(subset=df.columns.difference(['Rating', 'Reviews', 'Description']).tolist())

# Aggregate and calculate mean of Rating and Reviews
other_data = other_data.groupby(df.columns.difference(['Rating', 'Reviews']).tolist(), as_index=False).agg({'Rating': 'mean', 'Reviews': 'mean', 'Description': 'first'})

The 'first' aggregation function is used for the 'Description' column to keep the first occurrence of 'Description' among the duplicates

In [43]:
other_data

,Brand,Discount,Listing Price,Product Name,Sale Price,Rating,Reviews,Description
0,Adidas Adidas ORIGINALS,50,14999,Women's adidas Originals NMD_Racer Primeknit S...,7499,4.8,41.0,Channeling the streamlined look of an '80s rac...
1,Adidas CORE / NEO,0,5999,Women's Sport Inspired Grand Court Shoes,5999,3.8,35.0,A '70s style reborn. These shoes take inspirat...
2,Adidas CORE / NEO,50,5299,Women's adidas Sport Inspired Grand Court Shoes,2649,4.9,23.0,A '70s style reborn. These shoes take inspirat...
3,Adidas CORE / NEO,50,5999,Men's adidas Sport Inspired Grand Court Shoes,2999,5.0,15.0,A '70s style reborn. These shoes take inspirat...
4,Adidas CORE / NEO,40,5999,Men's adidas Sport Inspired Fusion Flow Shoes,3599,3.0,13.0,A classic hardwood style makes a comeback. The...
...,...,...,...,...,...,...,...,...
1492,Adidas SPORT PERFORMANCE,0,17999,Men's Running Ultraboost A.RDY Shoes,17999,4.6,6.0,Your run can't wait for cooler weather. It can...
1493,Adidas SPORT PERFORMANCE,0,17999,Women's adidas by Stella Mccartney Running Ult...,17999,3.3,24.0,adidas and Stella McCartney have been fusing t...
1494,Adidas SPORT PERFORMANCE,0,14999,Unisex adidas Running Pharrell Williams Solar ...,14999,2.2,96.0,adidas teamed up with Pharrell Williams on the...
1495,Adidas SPORT PERFORMANCE,40,14999,Men's Pharrell Williams x adidas Originals Run...,8999,4.1,5.0,adidas teamed up with Pharrell Williams to cre...
1496,Adidas SPORT PERFORMANCE,40,14999,Men's Pharrell Williams x adidas Running Solar...,8999,1.0,94.0,adidas teamed up with Pharrell Williams to cre...

In [44]:
df=nike_data
# Drop duplicates based on all columns except Rating, Reviews, and Description
nike_data = df.drop_duplicates(subset=df.columns.difference(['Rating', 'Reviews', 'Description']).tolist())

# Aggregate and calculate mean of Rating and Reviews
nike_data = nike_data.groupby(df.columns.difference(['Rating', 'Reviews']).tolist(), as_index=False).agg({'Rating': 'mean', 'Reviews': 'mean', 'Description': 'first'})

In [45]:
nike_data

,Brand,Discount,Listing Price,Product Name,Sale Price,Rating,Reviews,Description
0,Nike,0,0,Nike AF-1 Shadow SE,9995,0.0,0.0,"A fun, playful twist on a classic design, the ..."
1,Nike,0,7995,Nike P-6000 Icon Clash,5597,4.7,10.0,"A mash-up of Pegasus' past, the Nike P-6000 Ic..."
2,Nike,0,8995,Nike P-6000 SE,6297,0.0,0.0,"A mash-up of Pegasus' past, the Nike P-6000 SE..."
3,Nike,0,0,Kyrie 6 EP 'Chinese New Year',10995,5.0,1.0,According to the four-year cycle of the Chines...
4,Nike,0,0,Nike Air Max Verona,10995,0.0,0.0,Add comfort and style to your journey. Designe...
...,...,...,...,...,...,...,...,...
453,Nike,0,9995,Nike Air Max 200,5997,4.5,13.0,With exceptional cushioning and modern detaili...
454,Nike,0,0,Jordan Aerospace 720,16995,5.0,1.0,"With more Air underfoot, the Jordan Aerospace ..."
455,Nike,0,11995,Nike Air Max 90,7197,3.2,5.0,"With the Nike Air Max 90, a legendary shoe get..."
456,Nike,0,0,Nike Free X Metcon 2,9995,3.0,7.0,nan
457,Nike,0,0,Nike React Infinity Run Flyknit,13995,4.6,68.0,nan